html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-size: 11px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#container {
    background: #f0f0f0;
    
    
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 51%, #2989d8 66%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(51%,#207cca), color-stop(66%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 51%,#2989d8 66%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#207cca 51%,#2989d8 66%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 51%,#2989d8 66%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 51%,#2989d8 66%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */



    width: 100%;
    height: 100%;
}

#hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
}

#slider-range-min {
    width: 500px;
    margin-top: 7px;
    margin-left: 15px;

}

#frameCounter {
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 15px;
    width: 40px;
    text-align: center;
}

#loadbutton {
    padding: 5px;
    margin-left: 50px;
    margin-right: 5px;
}

#nextbutton, #prevbutton, #settingsbutton, #screenshotbutton, #playbutton {
    margin-right: 5px;
	padding: 5px;
}

#settings, #object-settings {
    line-height: 200%;    
}

#settings label, #object-settings label {
    width: 100px;
    float: left;
}

.fullwidth {
    width: 100%;
}

.pull-left {
    float: left;
}

#legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#legend > div {
    margin-right: 15px;
}

#scale {
    float: left;
    z-index: 100;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 70px;
    text-align: center;
}

#scale hr {
    border: none;
    border-bottom: 2px solid black;
    margin: 0;
}

#scale-coloring {
    float: left;
}

#scale-coloring .colorspace {
    width: 110px;
    height: 12px;
    border: 1px solid black;
    line-height: 12px;
    padding-left: 1px;
    padding-right: 1px;
}

#scale-coloring .min {
    float: left;
}

#scale-coloring .max {
    float: right;
}

#scale-coloring .colortype {
    text-align: center;
}

.color-speed {
    background: #ff0004; /* Old browsers */
    background: -moz-linear-gradient(left, hsl(359,100%,50%) 0%, hsl(240,100%,50%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsl(359,100%,50%)), color-stop(100%,hsl(240,100%,50%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, hsl(359,100%,50%) 0%,hsl(240,100%,50%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, hsl(359,100%,50%) 0%,hsl(240,100%,50%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, hsl(359,100%,50%) 0%,hsl(240,100%,50%) 100%); /* IE10+ */
    background: linear-gradient(to right, hsl(359,100%,50%) 0%,hsl(240,100%,50%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#0000ff',GradientType=1 ); /* IE6-9 */
}

.color-density {
    background: #3fff00; /* Old browsers */
    background: -moz-linear-gradient(left, hsl(105,100%,50%) 0%, hsl(0,100%,50%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsl(105,100%,50%)), color-stop(100%,hsl(0,100%,50%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, hsl(105,100%,50%) 0%,hsl(0,100%,50%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, hsl(105,100%,50%) 0%,hsl(0,100%,50%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, hsl(105,100%,50%) 0%,hsl(0,100%,50%) 100%); /* IE10+ */
    background: linear-gradient(to right, hsl(105,100%,50%) 0%,hsl(0,100%,50%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fff00', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
}

.code {
    font-family: monospace;
}

#stats {
    z-index: 1000;
}